.artist__item {
	@apply relative;
	&:hover {
		.hover_cover {
			@apply opacity-100;
		}
	}
}

.artist__card {
	@apply overflow-hidden;
	flex-basis: 66%;
	h3 {
		@apply mb-6 text-6xl font-medium text-white;
		font-family: var(--Bold);
	}
}

.artist__img {
	// max-width: 290px;
	@apply flex flex-col-reverse gap-y-4 md:block;
	flex-basis: 30%;
	// @apply max-w-;
	> img {
		@apply h-full w-full object-cover;
	}
}

.artist_item__img {
	@apply relative;
}
