.filter__title {
	@apply text-2xl;
	font-family: var(--Black);
}

.filter__list {
	@apply flex gap-2;
	button {
		@apply inline-block p-3 text-sm leading-snug text-neutral md:text-base;
		font-family: var(--Bold);
		&:hover,
		&:focus,
		&.active {
			@apply text-white underline;
		}
	}
}

.artists__grid {
	@apply mt-12 grid gap-5;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.artist__item {
	> a {
		@apply flex basis-52 flex-col items-center gap-y-4;
	}
	&.playlist__item {
		@apply flex flex-col gap-y-2;
		a {
			@apply basis-0;
		}
	}
	span {
		@apply text-xs md:text-base;
	}
}

.artist_item__img {
	width: 120px;
	height: 120px;
	img {
		@apply h-full w-full object-cover;
	}
}

@media (min-width: 768px) {
	.artists__grid {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.artist_item__img {
		width: 200px;
		height: 200px;
	}
}
