.playlist__container
    @apply flex justify-between gap-20
    .track__list
        flex-grow: 1
.playlist__info
    flex-basis: 39%
    img
        @apply max-w-xs mx-auto mb-8
    h1
        @apply text-center text-2xl mb-3
        font-family: var(--Bold)
    h2
        @apply text-neutral