.profile__top {
	@apply fixed top-24 right-0 z-10 flex items-center gap-4 rounded-full rounded-r-none bg-neutraltwo p-3 px-9 shadow-2xl;
	h3 {
		@apply text-2xl md:text-lg;
		font-family: var(--Bold);
	}
	ul {
		@apply my-2 flex justify-center gap-4;
	}
	li {
		@apply block basis-24 text-center  text-neutral;
		strong {
			@apply text-secondary;
		}
	}
	button {
		@apply mx-auto block;
	}
}

.profile__img {
	@apply mx-auto h-10 w-10 overflow-hidden rounded-full shadow-lg;
}

.profile__bottom {
	@apply mb-0 justify-between space-y-9 lg:mb-20;
	.fill__button {
		@apply mx-auto block p-4 text-sm lg:hidden;
	}
}

.profile__container {
	width: 100%;
	@apply relative overflow-hidden;
	.fill__button {
		@apply mt-8 block w-fit p-2 px-4 md:hidden;
	}
}

.profile__container__top {
	@apply mb-8 flex items-center justify-center md:mb-6 md:justify-between;
	.fill__button {
		@apply m-0 hidden px-4 py-2 text-sm md:block;
	}
}

.profile__title {
	@apply mb-12;
	h1 {
		@apply mb-2 md:text-2xl;
	}
	h2 {
		@apply md:text-6xl;
		font-family: var(--Bold);
	}
}
