.track__info
    @apply block xl:flex items-center justify-between gap-6

.track__details
    @apply flex flex-col mb-4  md:mb-16 xl:mb-0 md:flex-row md:items-start gap-8
    flex-basis: 64%
    h1
        @apply text-center md:text-left text-3xl md:text-5xl xl:text-4xl 2xl:text-5xl mb-5 md:mb-7
        font-family: var(--Black)
    h2
        @apply text-xl text-stone-300 mb-1 inline-block
        font-family: var(--Black)
    audio
        transform: none
        @apply w-full
    .main__button
        @apply  mt-4
.track__img
    @apply mx-auto
    width: 200px

.player__container
    @apply relative
    &:before
        content: ''
        position: absolute
        top: 0
        left: -5px
        width: 80%
        height: 100%
        @apply bg-secondary rounded-3xl mix-blend-multiply
        z-index: 10
        pointer-events: none
        
.track__album
    @apply text-neutral mb-6
    font-family: var(--Bold)

.track__features
    flex-basis: 21%
    @apply m-auto
    ul
        text-align: center
        border-top: 1px solid rgb(64, 64, 64)
        border-left: 1px solid rgb(64, 64, 64)
    li
        padding: 15px 10px
        border-bottom: 1px solid rgb(64, 64, 64)
        border-right: 1px solid rgb(64, 64, 64)
        flex-basis: 50%
        h3
            @apply text-lg md:text-3xl text-slate-300
            font-family: var(--Black)
        p
            @apply text-xs text-neutral
            font-family: var(--Book)

.track__chart__data
    @apply xl:flex justify-between mt-16 xl:mt-32
    .track__paragraph
        @apply xl:mt-0 md:mt-16 mt-8
        flex-basis: 45%
        h5
            @apply text-center
.track__chart
    flex-basis: 40% 
    h4
        @apply text-center mb-8 text-neutral md:text-xl

.track__paragraph
    h5
        @apply mb-8 text-xl text-neutral
    ul
        @apply space-y-4
    span
        @apply text-secondary inline-block mr-2

@media (min-width: 768px)
    .track__img
        @apply m-0
        width: 300px
    .track__details
        audio
            width: revert
            transform: scale(80%) translateX(-40px)
    .player__container
        &:before
            width: 185px