.track__info
    @apply flex items-center justify-between

.track__details
    @apply flex items-start gap-12
    flex-basis: 48%
    h1
        @apply text-5xl mb-7
        font-family: var(--Black)
    h2
        @apply text-xl text-stone-300 mb-1 inline-block
        font-family: var(--Black)
    audio
        transform: scale(80%) translateX(-40px)
    .main__button
        @apply mt-4
.track__img
    min-width: 300px

.track__album
    @apply text-neutral mb-6
    font-family: var(--Bold)

.track__features
    flex-basis: 47%
    ul
        @apply flex flex-wrap
        text-align: center
        border-top: 1px solid rgb(64, 64, 64)
        border-left: 1px solid rgb(64, 64, 64)
    li
        padding: 15px 10px
        border-bottom: 1px solid rgb(64, 64, 64)
        border-right: 1px solid rgb(64, 64, 64)
        flex-basis: 50%
        h3
            @apply text-3xl text-slate-300
            font-family: var(--Black)
        p
            @apply text-xs text-neutral
            font-family: var(--Book)

.track__chart__data
    @apply flex justify-between mt-32
.track__chart
    flex-basis: 40% 
    h4
        @apply text-center mb-8 text-neutral text-xl

.track__paragraph
    flex-basis: 47%
    h5
        @apply mb-8 text-xl text-neutral
    ul
        @apply space-y-4
    span
        @apply text-secondary inline-block mr-2