@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'CircularStd-Book';
	src: url('/fonts/CircularStd-Book.woff2') format('woff2'),
		url('/fonts/CircularStd-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Bold';
	src: url('/fonts/CircularStd-Bold.woff2') format('woff2'),
		url('/fonts/CircularStd-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'CircularStd-Black';
	src: url('/fonts/CircularStd-Black.woff2') format('woff2'),
		url('/fonts/CircularStd-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

:root {
	--transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	--bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
	--Book: 'CircularStd-Book';
	--Bold: 'CircularStd-Bold';
	--Black: 'CircularStd-Black';
}

body {
	@apply min-h-screen bg-primary text-white;
	font-family: var(--Book);
}

.main__wrapper {
	@apply overflow-hidden pl-0 lg:pl-28;
}

.main__container {
	@apply relative mx-auto min-h-screen py-12 px-6 pb-28 md:px-12 md:py-24 lg:px-12 xl:px-20;
	max-width: 87.5rem;
}

.main__button {
	@apply inline-flex items-center rounded-md border border-transparent bg-secondary px-4 py-2 text-sm tracking-widest text-white hover:bg-secondarytwo focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-1;
	font-family: var(--Bold);
}

.fill__button {
	@apply inline-flex items-center rounded-md border border-white px-1 py-1 text-xs text-white hover:border-secondary hover:bg-secondarytwo focus:outline-none;
	font-family: var(--Bold);
	transition: var(--transition);
}

.breadcrumb {
	@apply mb-8;
	button {
		@apply flex items-center gap-2;
		font-family: var(--Black);
		transition: var(--transition);
		&:hover {
			@apply text-secondary;
		}
		svg {
			@apply text-3xl;
		}
	}
}

.hover_cover {
	@apply pointer-events-none absolute top-0 left-0 z-10 flex h-full w-full items-center justify-center opacity-0;
	background-color: #00000079;
	transition: var(--transition);
}

.homescreen {
	user-select: none;
	pointer-events: none;
	animation-name: example;
	animation-duration: 40s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes example {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-88%);
	}
	100% {
		transform: translateY(0%);
	}
}
