header {
	@apply fixed left-0 bottom-0 z-10 flex w-full items-center justify-between bg-black lg:top-0  lg:h-screen lg:w-28 lg:flex-col lg:py-8;
	span {
		font-family: var(--Black);
	}
	> a {
		@apply hidden text-center lg:block;
	}
}

nav {
	@apply w-full;
}

.nav__bottom {
	@apply relative hidden p-4 text-center text-xs lg:block;
	a {
		@apply mb-2 block;
		transition: var(--transition);
		&:hover {
			@apply text-secondary;
		}
	}
}

.nav__main {
	@apply flex justify-evenly lg:block;
}

.nav__item {
	@apply m-0 basis-1/4 md:grow md:basis-full lg:grow-0;

	a {
		@apply flex flex-col items-center justify-center gap-y-1 text-xs text-neutral;
		transition: var(--transition);
		height: 70px;
		&:hover {
			@apply bg-secondary text-white;
		}
		// &.active {
		// 	@apply bg-secondary text-white;
		// }
	}
	svg {
		@apply text-xl;
	}
}
