.artist__container {
	width: 46%;
}

.track__list {
	@apply space-y-6;
}

.track__list_item {
	a {
		@apply flex justify-between;
		&.isLocal {
			@apply pointer-events-none select-none;
		}
	}
	&:hover {
		.hover_cover {
			@apply opacity-100;
		}
	}
}

.track__list_item__img {
	@apply relative h-12 w-12 overflow-hidden;
	img {
		@apply h-full w-full object-cover;
	}
}

.track__title {
	@apply text-base;
	// text-overflow: unset !important;
}

.track__credits {
	@apply text-sm text-neutral;
}

.track__title,
.track__credits {
	@apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.track__data {
	@apply overflow-hidden text-ellipsis;
	width: 10rem;
}

.track__length {
	@apply text-sm text-neutral;
}

.track__list_item__container {
	@apply flex gap-5;
	width: inherit;
}

@media (min-width: 768px) {
	.track__data {
		width: inherit;
	}
	.track__list_item__container {
		width: 80%;
	}
}
